<!DOCTYPE html>
<html>
	<head>
		<title>Input</title>
	</head>
	<body>
		<div class="table">
			<table border="1">
				<tr>
					<td>hello</td>
					<td>world</td>
				</tr>
				<tr>
					<td>goodbye</td>
					<td>world</td>
				</tr>
			</table>
		</div>
		<div class="container">
			<hr/>
			<form method=post action=echo>
				Age:<br/>
				<input type="text" size="10" name="age" placeholder="Type something"><br/>
				<input type="checkbox" name="selection1">Check me out<br/>
				<input type="Submit" value="Submit Age" name="AgeButton"><br/>
			</form>
		</div>
		<div class="container">
			<hr/>
			<form method=post action=echo>
				Name:<br/>
				<input type="text" size="10" name ="name" placeholder="Type something"><br/>
				<input type="checkbox" name="selection0">Check me out<br/>
				<input type="Submit" value="Submit Name" name="NameButton"><br/>
			</form>
		</div>
	</body>
</html>